body {
  margin: 0;
}

.member {
  display: flex;
  justify-content: center;
  background: #f77b22;
  color: white;
  font-size: 22px;
  padding: 12px 0;
}

.headerlist {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 43px;
  padding: 16px 0;
  border-bottom: 1px solid black;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 51px;
  padding-right: 51px;
  padding-bottom: 12px;
}
.logo {
  text-align: center;
}
.right {
  text-align: right;
}
.divider {
  width: 1px;
  height: 120px;
  background: black;
}
/* .main {
  background: #fbf1f3;
  display: flex;
  border-top: solid 1px;
  align-items: center;
  padding-top: 4px;
  justify-content: space-between;
} */
.content_section {
  display: flex;
  border-top: solid 1px;
  align-items: center;

  justify-content: space-between;
}
h1 {
  color: #4e4e4e;
  padding-left: 161px;
  font-size: 60px;
  font-weight: 100;
  line-height: 70px;
  padding-bottom: 120px;
  margin: 0px;
  /* padding-left: 59px; */
}
p {
  font-size: 20px;
  font-style: oblique;
  line-height: 27px;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding-bottom: 31px;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.image-wrapper {
  width: 50%;
}
button {
  background: transparent;
  border-radius: 6px;
  /* transition-behavior: allow-discrete; */
}
.menu_btn {
  border: none;
}
